/*--fin de hover--*/
/*--fin de bg--*/
/*--fin de img--*/
.flex-center, .slider-contenido, .tit-inicio, .imgyp-p-st, .not-prin-st, .img-prin-streaming, .tit-prin-streaming, .streaming-principal, .tit-gaming {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-pading, .vistazo, .container-s, .container-p {
  display: grid;
  padding: 15px;
}

.cienxcien, .inicio img, footer, .container-fluid {
  width: 100%;
  height: 100%;
}

/*--inicio gaming--*/
.tit-gaming {
  text-align: center;
}
.tit-gaming:hover h2 {
  color: rgb(0, 2, 10);
}
.tit-gaming .tex-gaming {
  color: white;
  border: 5px solid;
  height: 60px;
  width: 600px;
  border-radius: 30px;
  background-image: linear-gradient(to top, #00dbde 0%, #fc00ff);
}

.container-p {
  gap: 10px;
  box-shadow: 10px 10px 10px 10px black;
  border-radius: 20px;
  margin: 80px auto;
  padding: 20px;
  width: 100%;
  height: 450px;
  overflow: auto;
  background-color: rgba(247, 226, 255, 0.804);
  grid-template-columns: 30% 70%;
  grid-template-areas: "imgprincipal pprincipal";
}
.container-p a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.container-p img {
  width: 300px;
  height: 350px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px black;
  transition: 0.5s ease;
  object-fit: cover;
}
.container-p img:hover {
  transform: scale(1.1);
}
.container-p::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #00dbde 0%, #fc00ff);
  border-radius: 6px;
}
.container-p::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  border-radius: 6px;
}

.imgprincipal {
  grid-area: imgprincipal;
}

.pprincipal {
  grid-area: pprincipal;
  text-indent: 15%;
}
.pprincipal p {
  text-indent: 15%;
}
.pprincipal h1 {
  padding: 15px;
}

.container-s {
  gap: 5px;
  box-shadow: 10px 10px 10px 10px black;
  border-radius: 20px;
  margin: 80px auto;
  padding: 20px;
  width: 100%;
  height: 350px;
  overflow: scroll;
  background-color: rgba(247, 226, 255, 0.804);
  grid-template-columns: 40% 60%;
  grid-template-areas: "img-s p-s";
}
.container-s img {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px black;
  transition: 0.5s ease;
  object-fit: cover;
}
.container-s img:hover {
  transform: scale(1.1);
}
.container-s::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  border-radius: 6px;
}
.container-s::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #00dbde 0%, #fc00ff);
  border-radius: 6px;
}
.container-s .img-s {
  grid-area: img-s;
  align-items: center;
}
.container-s .p-s {
  grid-area: p-s;
  text-indent: 15%;
  font-size: 15px;
}
.container-s .p-s h2 {
  padding: 10px;
}
.container-s .p-s a {
  text-decoration: none;
  color: black;
}
.container-s .p-s a:hover {
  color: rgb(105, 135, 255);
}

/*--inicio streaming--*/
.streaming-principal {
  width: 80%;
  height: 400px;
  padding: 20px;
}

.tit-prin-streaming h1 {
  color: white;
  border: 5px solid;
  height: 80px;
  width: 600px;
  border-radius: 30px;
  text-align: center;
  background-image: linear-gradient(to top, #00dbde 0%, #fc00ff);
}
.tit-prin-streaming h1:hover {
  color: rgb(0, 2, 10);
}

.img-prin-streaming {
  margin-top: 20px;
}
.img-prin-streaming img {
  border-radius: 40px;
  height: auto;
  width: auto;
  box-shadow: 10px 10px 10px 10px black;
}

.not-prin-st {
  flex-wrap: wrap;
}

.imgyp-p-st {
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 10px;
  box-shadow: 10px 10px 10px 10px black;
  border-radius: 20px;
  background-color: rgba(247, 226, 255, 0.804);
}
.imgyp-p-st img {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  transition: 0.5s ease;
  margin: 15px;
}
.imgyp-p-st img:hover {
  transform: scale(1.1);
}
.imgyp-p-st p {
  text-indent: 15%;
  padding: 10px;
  font-size: 15px;
  margin: 20px;
}

.elementos-s-st {
  background-color: rgba(247, 226, 255, 0.804);
  border-left: 5px solid #333;
  margin: 40px;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  height: 450px;
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
}
.elementos-s-st img {
  height: 200px;
  width: 200px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px black;
  transition: 0.5s ease;
}
.elementos-s-st img:hover {
  transform: scale(1.1);
}
.elementos-s-st h4 {
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
}
.elementos-s-st p {
  font-size: 16px;
  word-wrap: break-word;
}
.elementos-s-st .autor {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
}
.elementos-s-st blockquote {
  font-style: italic;
  margin: 0;
  padding: 0;
}

/*--inicio de citas--*/
.cita {
  background-color: rgba(247, 226, 255, 0.804);
  border-left: 5px solid #333;
  border-radius: 5px;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px black;
}
.cita .autor {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
}
.cita blockquote {
  font-style: italic;
  margin: 0;
  padding: 0;
}

.citas {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

main {
  background-color: dimgray;
  padding: 20px;
}

section {
  padding-bottom: 30px;
}

/*inicio de estilos header*/
.container-fluid {
  display: flex;
  background-image: linear-gradient(to top, rgb(105, 135, 255), black);
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container-fluid img {
  width: 100px;
  border-radius: 100%;
}
.container-fluid ul li a {
  color: white;
  text-align: center;
}
.container-fluid ul li a:hover a {
  color: rgb(105, 135, 255);
}

/*--fin de estilos header*/
/*--inicio footer--*/
footer {
  padding: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 15px;
  justify-content: flex-end;
  background-image: linear-gradient(to top, rgb(105, 135, 255), black);
}
footer img {
  padding-top: 10px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
footer h5 {
  color: white;
}
footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer h6:hover a {
  color: rgb(105, 135, 255);
}

/*--fin footer--*/
/*--inicio main--*/
.tit-inicio {
  text-align: center;
}
.tit-inicio h1:hover {
  color: rgb(0, 2, 9);
}
.tit-inicio .texto {
  color: white;
  border: 5px solid;
  height: 60px;
  width: 600px;
  border-radius: 30px;
  background-image: linear-gradient(to top, #00dbde 0%, #fc00ff);
}

.inicio {
  width: 900px;
  height: 450px;
  margin: 50px auto 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px black;
}
.inicio ul {
  display: flex;
  padding: 0%;
  width: 400%;
  animation: clientes 12s infinite ease-in-out;
}
.inicio ul li {
  list-style: none;
  width: 100%;
}
@keyframes clientes {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
}

/*--carrusel inicio--*/
.slider-contenido {
  padding: 30px;
  flex-wrap: nowrap;
  margin-left: auto;
  object-fit: cover;
}
.slider-contenido .contenido-inicio {
  width: 200px;
  height: 200px;
  text-align: center;
}
.slider-contenido .contenido-inicio img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.slider-contenido .contenido-inicio a {
  text-decoration: none;
}
.slider-contenido .contenido-inicio h5 {
  font-size: 18px;
  color: white;
}
.slider-contenido .contenido-inicio h5:hover a {
  color: rgb(105, 135, 255);
}

.vistazo {
  grid-template-columns: 40% 60%;
  width: 80%;
  margin: 0 auto;
  border: 3px solid black;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px 10px black;
  border-radius: 15px;
  font-size: 20px;
  text-indent: 30px;
  color: black;
  background-color: rgba(247, 226, 255, 0.804);
}
.vistazo img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  transition: 0.5s ease;
  object-fit: cover;
}
.vistazo img:hover {
  transform: scale(1.1);
}
.vistazo a {
  color: black;
  text-decoration: none;
}
.vistazo .texto-vistazo a:hover {
  color: rgb(105, 135, 255);
}

/*--medias quaries, grids, bootstrap--*/
@media screen and (max-width: 650px) {
  .inicio {
    width: 100%;
    height: 200px;
  }
  .inicio img {
    width: 100%;
    height: 100%;
  }
  .slider-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .slider-contenido .contenido-inicio {
    width: 48%;
  }
  .contenedorvis {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .vistazo {
    height: 400px;
    width: 100%;
    grid-template-columns: 0% 100%;
    margin: 15px;
    gap: 10px;
    text-indent: 0%;
    overflow: scroll;
  }
  .vistazo img {
    opacity: 0.2;
    width: 200px;
    height: 200px;
  }
  .vistazo p {
    font-size: 10px;
  }
  .vistazo::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #00dbde 0%, #fc00ff);
    border-radius: 6px;
  }
  .vistazo::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    border-radius: 6px;
  }
  .container-p {
    grid-template-columns: 0% 100%;
  }
  .container-p img {
    opacity: 0.2;
  }
  .container-s {
    text-indent: 0%;
    grid-template-columns: 0% 100%;
  }
  .container-s img {
    opacity: 0.2;
  }
  .not-prin-st {
    width: 100%;
    height: 100%;
    padding: 0%;
  }
  .imgyp-p-st {
    flex-direction: column;
  }
  .imgyp-p-st img {
    width: 100%;
    max-width: none;
  }
  .cont-s-st {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .img-prin-streaming {
    margin: auto;
    width: 80%;
    height: 100%;
  }
  .img-prin-streaming img {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
