* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
main {
    background-color: dimgray;
    padding: 20px;
}
section{
    padding-bottom: 30px;
}
/*inicio de estilos header*/
.container-fluid{
    display: flex;
    background-color: rgb(5, 0, 7);
    justify-content: flex-end;
    padding: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-fluid img{
    max-width: 15%;
    border-radius: 100%;
}
.container-fluid ul li a{
    color: white;
    text-align: center;
}
.container-fluid ul li:hover a{
    color: rgb(105, 135, 255);
}
/*--fin de estilos header*/
/*--inicio main--*/
.tit-inicio {
    display: flex;
    justify-content: center;
    text-align: center;
}
.tit-inicio h1:hover{
    color: rgb(0, 2, 9) ;
}
.texto{
    color: white;
    border: 5px solid;
    height: 60px;
    width: 600px;
    border-radius: 30px;
    background-image: linear-gradient(to top, #00dbde 0%, #fc00ff) ;
}
.inicio {
    width:900px;
    height:450px;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 20px 20px 20px 20px black;
}
.inicio ul{
    display: flex;
    padding: 0%;
    width: 400%;
    animation:clientes 12s infinite ease-in-out;
}
.inicio li{
    list-style: none;
    width: 100%;
}
.inicio img{
    width: 100%;
    height: 100%;
}
@keyframes clientes {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}

/*--carrusel inicio--*/
.slider-contenido{
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: auto;
    object-fit: cover;
}

.contenido-inicio{
    width: 200px;
    height: 200px;
    text-align: center;
}
.contenido-inicio img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.contenido-inicio a{
    text-decoration:none;
}

.vistazo img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    object-fit: cover;
}
.vistazo img:hover{
    transform: scale(1.2);
}
.vistazo  {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 80%;
    margin: 0 auto;
    border: 3px solid black;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 10px black;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    text-indent: 30px;
    color: black;
    background-color: rgba(247, 226, 255, 0.804);
}

.vistazo a{
    color: black;
    text-decoration: none;
}
.texto-vistazo a:hover {
    color: rgb(46, 88, 255);
}
.contenido-inicio h5 {
    font-size: 18px;
    color: white;
}
.contenido-inicio h5:hover a{
    color: rgb(105, 135, 255);
}

/*--inicio gaming--*/
    .tit-gaming{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .tex-gaming{
        color: white;
        border: 5px solid;
        height: 60px;
        width: 600px;
        border-radius: 30px;
        background-image: linear-gradient(to top, #00dbde 0%, #fc00ff) ;
    }
    .tit-gaming h2:hover{
        color: rgb(0, 2, 10) ;
    }
    .container-p {
        display: grid;
        gap: 20px;
        padding: 30px;
        box-shadow: 10px 10px 10px 10px black;
        border-radius: 20px;
        margin: 80px auto;
        width: 80%;
        height: 400px;
        overflow: auto;
        background-color: rgba(247, 226, 255, 0.804);
        grid-template-columns: 40% 60%;
        grid-template-areas: 
        "imgprincipal pprincipal"
    }
    .container-p::-webkit-scrollbar {
        width: 10px;
        height: 0px;
        border-radius: 6px;
    }
    .container-p::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to top, #00dbde 0%, #fc00ff) ;
        border-radius: 6px;
    }
    .imgprincipal{
        grid-area: imgprincipal;
    }
    .pprincipal{
        grid-area: pprincipal;
        text-indent: 15%;
    }
    .container-p img{
        width: 300px;
        height: 350px;
        border-radius: 30px;
        box-shadow: 10px 10px 10px 10px black;
        transition: 0.5s;
        object-fit: cover;
    }
    .container-p img:hover{
        transform: scale(1.2);
    }
    .container-p a{
        font-size: 30px;
        text-decoration: none;
        color: black;
    }
    .container-p a:hover{
        color: rgb(105, 135, 255) ;
    }
    .pprincipal p{
        text-indent: 15%;
    }
    .pprincipal h1{
        padding: 15px;
    }
    .container-s{
        display: grid;
        gap: 5px;
        padding: 20px;
        box-shadow: 10px 10px 10px 10px black;
        border-radius: 20px;
        margin: 80px auto;
        width: 100%;
        height: 350px;
        overflow: scroll;
        background-color: rgba(247, 226, 255, 0.804);
        grid-template-columns: 40% 60%;
        grid-template-areas: 
        "img-s p-s"
    }
    .container-s img {
        width: 400px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 10px 10px 10px 10px black;
        transition: 0.5s;
        object-fit: cover;
    }
    .container-s img:hover {
        transform: scale(1.2);
    }
    .container-s::-webkit-scrollbar{
        width: 10px;
        height: 0px;
        border-radius: 6px;
    }
    .container-s::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to top, #00dbde 0%, #fc00ff) ;
        border-radius: 6px;
    }
    .img-s {
        grid-area: img-s;
        align-items: center;
    }
    .p-s {
        grid-area: p-s;
        text-indent: 15%;
        font-size: 15px;
    }
    .p-s h2{
        padding: 10px;
    }
    .p-s a{
        text-decoration: none;
        color: black;
    }
    .p-s a:hover{
        color: rgb(105, 135, 255);
    }
/*--inicio streaming--*/
    .streaming-principal {
        display: flex;
        width: 80%;
        height: 400px;
        padding: 20px;
        align-content: center;
        justify-content: center;
    }
    .tit-prin-streaming{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tit-prin-streaming h1{
        color: white;
        border: 5px solid;
        height: 60px;
        width: 600px;
        border-radius: 30px;
        text-align: center;
        background-image: linear-gradient(to top, #00dbde 0%, #fc00ff) ;
    }
    .tit-prin-streaming h1:hover{
        color: rgb(0, 2, 9) ;
    }
    .img-prin-streaming{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-prin-streaming img{
        border-radius: 40px;
        height: auto;
        width: auto;
        box-shadow: 10px 10px 10px 10px black ;
    }
    .not-prin-st{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .imgyp-p-st{
        width: 1000px; 
        height: auto;
        margin: 10px;
        display: flex;
        padding: 15px;
        align-items: center;
        box-shadow: 10px 10px 10px 10px black ;
        border-radius: 20px;
        background-color: rgba(247, 226, 255, 0.804);
    }
    .imgyp-p-st img{
        width: 400px;
        height: 300px;
        display: flex;
        align-items: start;
        border-radius: 30px;
        transition: 0.5s ease;
    }
    .imgyp-p-st img:hover{
        transform: scale(1.2);
    }
    .imgyp-p-st p{
        text-indent: 15%;
        padding: 15px;
        font-size: 15px;
    }
    .cont-s-st{
        margin: 20px;
        display: grid;
        gap: 15px;
        padding: 20px;
        border: 5px solid black;
        background-color: rgba(247, 226, 255, 0.804);
        grid-template-columns: 33% 33% 33%;
        border-radius: 30px;
        box-shadow: 10px 10px 10px 10px black;
    }
    .elementos-s-st {
        border-right:3px solid black;
        border-radius: 15px;
    }
    .cont-s-st img{
        height: 200px;
        width: 200px;
        border-radius: 20px;
        box-shadow: 10px 10px 10px 10px black;
        transition: 0.5s ease;
    }
    .cont-s-st img:hover{
        transform: scale(1.2);
    }
/*--inicio de citas--*/
.cita {
    background-color:rgba(247, 226, 255, 0.804);
    border-left: 5px solid #333;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 30px;
}

    blockquote {
    font-style: italic;
    margin: 0;
    padding: 0;
    }

    .autor {
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    }


/*--inicio footer--*/
footer{
    width: 100%;
    height: 100%;
    padding-block: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 15px;
    justify-content: flex-end;
    background-color: black;
    
}
footer img{
    padding-top: 10px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
footer h6:hover a{
    color: rgb(105, 135, 255);
}
/*--fin footer--*/
/*--medias quaries, grids, bootstrap--*/
@media screen and (max-width: 650px) {
    .inicio {
        width: 100%;
        height: 200px;
        margin: 0px;
    }
    .slider-contenido{
        flex-wrap: wrap;
    }
    .vistazo img {
        opacity: 0.2;
    }
    .vistazo{
        height: 100%;
        width: 100%;
        grid-template-columns: 0% 100%;
        padding: 5px;
        text-indent: 0%;
    }
    .container-p img {
        opacity: 0.2;
    }
    .container-p {
        grid-template-columns: 0% 100%;
    }
    .container-s img {
        opacity: 0.2;
    }
    .container-2 {
        text-indent: 0%;
        grid-template-columns: 0% 100% ;
    }
    .not-prin-st {
        width: 100%;
        height: 100%;
        padding: 0%;
    }
    .imgyp-p-st {
        flex-direction: column;
    }
    .imgyp-p-st img {
        width: 100%; 
        max-width: none;}
    .cont-s-st {
        margin: 20px;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;}
    .elementos-s-st{
        border-top: 3px solid black;
    }
    .cont-s-st img{
        width: 100px;
        height: 100px;
    }
    .img-prin-streaming img {
        width: 100%; 
        max-width: none;
    }
    }

