/*inicio de estilos header*/
.container-fluid {
    @extend.cienxcien;
    display: flex;
    background-image: $background-color;
    justify-content: space-between; 
    padding: auto;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    img {
        width: 100px;
        border-radius: 100%;
    }
    ul li a {
        color: white;
        text-align: center;
        &:hover a {
            color: rgb(105, 135, 255);
        }
    }
}

/*--fin de estilos header*/