* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
main {
    background-color: dimgray;
    padding: 20px;
}
section{
    padding-bottom: 30px;
}