$hover-color:rgb(105, 135, 255);
$hover-tit: rgb(0, 2, 10) ;
$hover-img: scale(1.1);
/*--fin de hover--*/
$background-color:linear-gradient(to top,rgb(105, 135, 255), black);
$background-cont: rgba(247, 226, 255, 0.804);
$color-tit: linear-gradient(to top, #00dbde 0%, #fc00ff) ;
/*--fin de bg--*/
$box-shadow-img: 10px 10px 10px 10px black ;
$transiciones:0.5s ease;
/*--fin de img--*/
